#puzzle {
    display: flex;
    align-items: center;
    justify-content: center;

    .konvajs-content {
        width: 100%;
        display: flex;
        justify-content: center!important;
        align-items: center!important;
                    border: 2px solid red;


        canvas {
            width: 100%;
            height: 100%;
            display: flex;
        justify-content: center!important;
        align-items: center!important;
        }
    }
}